<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload="true" 
	  throwExceptions="true"
      internalLogLevel="Trace"
      internalLogFile=".\nlog\log.txt">
	<targets>
		<target name="file"  type="File"
            layout="${longdate} ${logger} ${message}${exception:format=ToString}"
            fileName="${basedir}/logs/${shortdate}.txt"
            maxArchiveFiles="10"
            archiveAboveSize="10240"
            encoding="utf-8" />
	</targets>
	<rules>
		<logger minLevel="Debug" writeTo="file" />
	</rules>
</nlog>

 